center-label {
    background-color: rgba(106, 93, 86, 0.2);
    margin: 0 30%;
    text-align: center;
    font-family: TW Cen MT;
    color: white;
    font-weight: 500;
    display: grid;
    align-content: flex-end;
    justify-content: center;
    height: 80%;
    font-size: 50px;
    overflow-wrap: break-word;
}

header-label{
    text-align: center;
    justify-content: center;
    align-content: center;
    display: grid;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

header-menu-container:hover > header-label {
    color: transparent;
    text-shadow: 0 0 4.5px rgba(0,0,0,0.5);
}



paragraph-1 {
    font-weight: bold;
    margin-bottom: 20px;
    
}

paragraph-2 {
    font-weight: bold;
    font-size: larger;
}

sentence-1 {
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid;
    border-color: white;
}

sentence-1 > p1 {
    font-weight: bold;
    font-size: large;
}


sentence-1 > p2 {
    font-size: large;
}