  
  
@media only screen and (min-width: 650px) {
  content-container  { 
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
  }
}

@media only screen and (min-width: 981px) {
  content-container  { 
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1.3%;
  }
}



    
